window {
  padding: 12px;
  border-radius: 8px;

  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);

  background-color: #181815aa;
  border: solid 1px #78787555;
}

.header {
  color: #dad6cf;
  margin-bottom: 7px;
}

.app-name {
  font-weight: lighter;
  text-transform: uppercase;
}

.time {
  font-size: 0.9em;
}

.summary,
.body {
  color: #dad6cf;
}

.summary {
  margin-bottom: 5px;
  font-weight: bold;
}

.body {
  line-height: 1.5em;
}

.image-frame {
  border: none;
  border-radius: 10px;
}

.image {
}
